node_modules
dist
dist-ssr
.DS_Store
*.log
data/*.db
data/*.db-journal
.env
.env.local
.vite
coverage

# Ignore markdown files

*.md 

/output


/__pycache__/
*.pyc
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/
build/

/venv
/env
/venv
/myenv
/.venv
.hackathon
.claude
harness
CLAUDE.md
AGENTS.md